@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@import "tailwindcss";
@layer theme, base, components, utilities;


@theme {
  --color-primary-50: #F5EEF8;
  --color-primary-100: #E0CCE8;
  --color-primary-200: #D1B3DD;
  --color-primary-300: #BC90CE;
  --color-primary-400: #AF7AC5;
  --color-primary-500: #9B59B6;
  --color-primary-600: #8D51A6;
  --color-primary-700: #6E3F81;
  --color-primary-800: #553164;
  --color-primary-900: #41254C;
  --color-secondary-50: #EAF8F6;
  --color-secondary-100: #BDEAE2;
  --color-secondary-200: #9DE0D3;
  --color-secondary-300: #70D2BF;
  --color-secondary-400: #55C9B3;
  --color-secondary-500: #2ABCA0;
  --color-secondary-600: #26AB92;
  --color-secondary-700: #1E8572;
  --color-secondary-800: #176758;
  --color-secondary-900: #124F43;
  --color-success-50: #E9F7EF;
  --color-success-100: #BCE6CE;
  --color-success-200: #9CDAB6;
  --color-success-300: #6EC994;
  --color-success-400: #52BE80;
  --color-success-500: #27AE60;
  --color-success-600: #239E57;
  --color-success-700: #1C7C44;
  --color-success-800: #156035;
  --color-success-900: #104928;
  --color-error-50: #FDECEC;
  --color-error-100: #F9C4C4;
  --color-error-200: #F6A8A8;
  --color-error-300: #F28080;
  --color-error-400: #F06767;
  --color-error-500: #EC4141;
  --color-error-600: #D73B3B;
  --color-error-700: #A82E2E;
  --color-error-800: #822424;
  --color-error-900: #631B1B;
  --color-warning-50: #F7F7F7;
  --color-warning-100: #FBEDB5;
  --color-warning-200: #F9E491;
  --color-warning-300: #F6D75E;
  --color-warning-400: #F4D03F;
  --color-warning-500: #F1C40F;
  --color-warning-600: #DBB20E;
  --color-warning-700: #AB8B0B;
  --color-warning-800: #856C08;
  --color-warning-900: #655206;
  --color-grey-50: #FEFEFE;
  --color-grey-100: #F6F6F6;
  --color-grey-200: #E2E4E3;
  --color-grey-300: #C0C4C3;
  --color-grey-400: #939897;
  --color-grey-500: #727776;
  --color-grey-600: #595C5B;
  --color-grey-700: #3F4040;
  --color-grey-800: #242D2B;
  --color-grey-900: #151A1A;
  
}

*{
  font-family: Outfit;
}

/* 'custom-gradient': 'linear-gradient(180deg, #9B59B6 40%, #70D2BF 100%)',
  } */

  @layer utilities{
    .custom-gradient{
      background-image: linear-gradient(180deg, #9B59B6 40%, #70D2BF 100%)
    }
    .custom-shadow {
      box-shadow: 8px 4px 8px 0px rgba(110, 63, 129, 0.4), 0px 8px 32px 0px rgba(188, 144, 206, 0.5);
    }

    .text-lg{
      font-size: 1rem;
      line-height: 1.5rem;
    }

    .text-4xl{
      font-size: 2rem;
      line-height: 1.5rem;
    }
  }

  ::-webkit-scrollbar{
    @apply hidden
}

input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
}

